<h1><%= @band.name %></h1>
<a href="<%= edit_band_url(@band) %>">Edit band</a>
<form action="<%= band_url(@band) %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete band">
</form>


<ul>
  <h2>Albums:</h2>
  <% @band.albums.each do |album| %>
    <li>
      <a href="<%= album_url(album.id) %>"><%= album.title %></a>
    </li>
    <br>
  <% end %>
</ul>
